@font-face {
	font-family: 'Mona Sans Expanded';
	src: url('@/assets/fonts/MonaSansExpanded-Black.woff2') format('woff2');
	font-weight: 900;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto-Slab';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Slab Medium'), local('Roboto-Slab-Medium'), url('@/assets/fonts/Roboto-Slab-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('@/assets/fonts/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    display: inline-block;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
	font-size: inherit;
	line-height: inherit;
	vertical-align: top;
	text-transform: none!important;
}

* {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	user-select: none;
}

*,
:after,
:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #001d1d;
	margin: 0;
}

::-webkit-scrollbar {
	width: 5px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.4);
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
    cursor: pointer;
    height: 1.8rem;
    width: 1.8rem;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gray" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z"/></svg>');
}

::placeholder {
	color: #aaa;
	opacity: 1!important;
}

input:disabled {
	-webkit-text-fill-color: #001d1d;
	opacity: 1;
}

b,
strong {
    font-weight: 700;
}

img {
	max-width: 100%;
	height: auto;
}

#app,
main {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

input[type="password"],
input[type="text"],
textarea {
	user-select: text!important;
	-webkit-user-select: text!important;
	-webkit-touch-callout: default!important;
}

/* Modale
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.conteneur-modale {
	position: absolute;
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
	animation-duration: 0.2s;
  	animation-delay: 0s;
  	animation-name: fonduEntrant;
  	animation-iteration-count: 1;
}

.modale {
	position: relative;
    background: #fff;
	width: 90%;
	max-width: 400px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	border-radius: 10px;
}

.modale header {
	display: flex;
	width: 100%;
	height: 45px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ddd;
}

.modale header .titre {
	font-weight: 700;
	font-size: 15px;
	line-height: 1.5;
	margin-left: 20px;
	user-select: none;
	text-transform: uppercase;
}

.modale header .fermer {
	vertical-align: top;
	user-select: none;
	cursor: pointer;
	font-size: 24px;
	margin-right: 15px;
}

.modale .conteneur {
    position: relative;
	width: 100%;
	padding: 20px;
	overflow: auto;
    height: calc(100% - 45px);
}

.modale .conteneur.entier {
    height: 100%;
}

.modale .conteneur p {
	font-size: 18px;
	margin-bottom: 20px;
	line-height: 1.5;
}

.modale .contenu {
	width: 100%;
}

.modale .conteneur label {
	display: block;
	width: 100%;
	font-weight: 700;
	font-size: 14px;
	margin-bottom: 10px;
	user-select: none;
}

.modale .conteneur select,
.modale .conteneur input[type="text"],
.modale .conteneur input[type="password"] {
	display: block;
	width: 100%;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 7px 15px;
	line-height: 1.5;
	margin: 0 auto 20px;
	text-align: left;
}

.modale .conteneur select:focus,
.modale .conteneur input[type="text"]:focus,
.modale .conteneur input[type="password"]:focus,
.modale .conteneur textarea:focus,
.outils select:focus {
	border-color: #001d1d!important;
}

.modale .conteneur select {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%23000000" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625" /></svg>') center right no-repeat;
	padding-right: 30px;
}

#menu-partager .bouton,
.menu .conteneur .bouton,
.modale .conteneur .bouton {
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	cursor: pointer;
	color: #001d1d;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	background: #00ced1;
	border-radius: 5px;
	letter-spacing: 1px;
	text-indent: 1px;
	user-select: none;
	transition: all ease-in 0.1s;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.menu .conteneur .bouton {
	width: 100%;
	font-size: 12px;
	height: 34px;
	line-height: 34px;
	padding: 0;
	text-align: center;
}

#menu-partager .bouton:hover,
.menu .conteneur .bouton:hover,
.modale .conteneur .bouton:hover {
	color: #fff;
	background: #001d1d;
}

.modale .conteneur .actions {
	text-align: center;
}

.modale .conteneur .actions .bouton {
    margin-right: 20px;
}

.modale .conteneur .actions .bouton:last-child {
    margin-right: 0;
}

#conteneur-message.conteneur-modale {
	z-index: 101;
}

#message.modale {
	max-width: 500px;
}

#message.modale .conteneur {
	padding: 30px 25px;
	text-align: center;
}

#message.modale .message {
	font-size: 18px;
	line-height: 1.5;
}

#message.modale .bouton {
	margin-top: 20px;
}

#aide {
	width: 500px;
	height: 450px;
	max-height: 90%;
}

#aide .conteneur p {
    font-size: 16px;
    margin-bottom: 7px;
    line-height: 1.2;
}

#aide label:not(:first-child) {
	margin-top: 20px;
}

#aide .actions {
	margin-top: 13px;
}

@keyframes fonduEntrant {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Notification
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.notification {
	font-size: 15px;
	width: 290px;
	margin-left: -145px;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	text-align: center;
	border-radius: 4px;
	padding: 10px 15px;
	position: fixed;
	z-index: 10001;
	left: 50%;
	bottom: 30px;
	animation: fonduEntrantNotification 0.4s;
}
  
@keyframes fonduEntrantNotification {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}

/* Chargement
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#conteneur-chargement {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.75);
	z-index: 1000;
}

#conteneur-chargement.transparent {
	background: transparent;
}

#chargement {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.spinner {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.spinner div {
	transform-origin: 40px 40px;
	animation: spin 1.2s linear infinite;
}

.spinner div:after {
	content: '';
	display: block;
	position: absolute;
	top: 3px;
	left: 37px;
	width: 5px;
    height: 25px;
	border-radius: 20%;
	background: #00ced1;
}

.spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
}

.spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
}

.spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
}

.spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}

.spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
}

.spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
}

.spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
}

.spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
}

.spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
}

.spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
}

.spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
}

.spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
}

@keyframes spin {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* Éditeur de texte
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.boutons-editeur {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: #fff;
	padding: 0.5rem 1rem;
	border-bottom: 1px solid #ddd;
	line-height: 1;
	position: sticky;
	top: 0;
	z-index: 1;
	height: 4.5rem;
}

.boutons-editeur button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-width: 24px;
	font-size: 24px;
	text-align: center;
	color: #222;
	margin-right: 1rem;
}

.boutons-editeur button:last-child {
	margin-right: 0;
}

.boutons-editeur button label[for="couleur-texte"] {
	font-size: 19px!important;
	width: auto!important;
	margin: 0!important;
	line-height: 24px!important;
}

.boutons-editeur input[type="color"] {
	width: 18px;
	height: 18px;
	margin-left: 0.4rem;
	padding: 0;
	border: none;
	cursor: pointer;
}

.boutons-editeur input[type="color"]::-moz-color-swatch {
	border: none;
	border-radius: 50%;
}

.boutons-editeur input[type="color"]:focus::-moz-color-swatch {
	border: 1px solid #001d1d;
}

.boutons-editeur input[type="color"]::-webkit-color-swatch {
	border: none;
	border-radius: 50%;
}

.boutons-editeur input[type="color"]:focus::-webkit-color-swatch {
	border: 1px solid #001d1d;
}

#texte .boutons-editeur {
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.contenu-editeur {
	height: calc(100% - 4.5rem);
	padding: 15px;
	font-size: 16px;
	position: sticky;
	top: 0;
	overflow: auto;
	user-select: text!important;
	-webkit-user-select: text!important;
	-webkit-touch-callout: default!important;
}

.contenu-editeur:lang(fr):empty:before {
	content: 'Ajouter des notes...';
	color: #aaa;
}

.contenu-editeur:lang(en):empty:before {
	content: 'Add notes...';
	color: #aaa;
}

#note {
	padding: 15px;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

#note strong,
#note b,
.contenu-editeur strong,
.contenu-editeur b {
	font-weight: bold;
}

#note a,
.contenu-editeur a {
	color: #00a1e3;
	text-decoration: underline;
}

#note ol,
.contenu-editeur ol {
    list-style: decimal inside;
}

#note ul,
.contenu-editeur ul {
    list-style: disc inside;
}

/* Media queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-height: 500px) {
	.modale {
		height: 90%;
	}
}

@media screen and (max-width: 599px) {
	html {
		font-size: 50%;
	}

	.outils .outil {
		margin-right: 1rem;
	}
}

@media screen and (min-width: 600px) and (max-width: 767px) {
	html {
		font-size: 56.25%;
	}
}
