<template>
	<div id="page">
		<div id="carte" :class="{'iframe': integration}">
			<header id="header" v-if="!integration">
				<a id="conteneur-logo" :href="definirRacine()" :title="$t('accueil')">
					<span id="logo"></span>
				</a>
				<span id="titre">{{ nom }}</span>
				<span id="conteneur-partage" role="button" :tabindex="definirTabIndex()" :title="$t('partager')" @click="afficherMenuPartager" @keydown.enter="afficherMenuPartager">
					<i class="material-icons">share</i>
				</span>
				<span id="conteneur-parametres" role="button" :tabindex="definirTabIndex()" :title="$t('parametres')" @click="ouvrirModaleCarte" @keydown.enter="ouvrirModaleCarte" v-if="admin">
					<i class="material-icons">settings</i>
				</span>
				<span id="conteneur-parametres" role="button" :tabindex="definirTabIndex()" :title="$t('seConnecter')" @click="ouvrirModaleConnexion" @keydown.enter="ouvrirModaleConnexion" v-else>
					<i class="material-icons">lock_open</i>
				</span>
			</header>

			<div id="outils">
				<div id="conteneur-outils">
					<div class="outils communs">
						<span class="outil" role="button" :tabindex="definirTabIndex()" :title="$t('defaire')" @click="executer('Undo')" @keydown.enter="executer('Undo')" v-if="admin"><i class="material-icons">undo</i></span>
						<span class="outil" role="button" :tabindex="definirTabIndex()" :title="$t('refaire')" @click="executer('Redo')" @keydown.enter="executer('Redo')" v-if="admin"><i class="material-icons">redo</i></span>
						<span class="outil" role="button" :tabindex="definirTabIndex()" :title="$t('zoomer')" @click="executer('ZoomIn')" @keydown.enter="executer('ZoomIn')"><i class="material-icons">zoom_in</i></span>
						<span class="outil" role="button" :tabindex="definirTabIndex()" :title="$t('dezoomer')" @click="executer('ZoomOut')" @keydown.enter="executer('ZoomOut')"><i class="material-icons">zoom_out</i></span>
						<span class="outil" role="button" :tabindex="definirTabIndex()" :title="$t('centrer')" @click="executer('Center')" @keydown.enter="executer('Center')"><i class="material-icons">center_focus_strong</i></span>
						<span class="outil" role="button" :tabindex="definirTabIndex()" :title="$t('enregistrer')" @click="enregistrer" @keydown.enter="enregistrer" v-if="admin"><i class="material-icons">save</i></span>
					</div>

					<div class="outils noeud" v-if="admin">
						<span class="outil" role="button" :tabindex="definirTabIndex()" :title="$t('ajouterNoeud')" @click="executer('InsertChild')" @keydown.enter="executer('InsertChild')"><i class="material-icons">add_circle_outline</i></span>
						<span class="outil" role="button" :tabindex="definirTabIndex()" :title="$t('modifierItem')" @click="modifierItem" @keydown.enter="modifierItem"><i class="material-icons">edit</i></span>
						<span class="outil supprimer" role="button" :tabindex="definirTabIndex()" :title="$t('supprimerNoeud')" @click="executer('Delete')" @keydown.enter="executer('Delete')" v-if="niveau > 0"><i class="material-icons">delete</i></span>
					</div>

					<div class="outils format" v-if="admin">
						<span class="outil" role="button" :tabindex="definirTabIndex()" :title="$t('mettreGras')" @click="modifierStyle('Bold')" @keydown.enter="modifierStyle('Bold')"><i class="material-icons">format_bold</i></span>
						<span class="outil" role="button" :tabindex="definirTabIndex()" :title="$t('mettreItalique')" @click="modifierStyle('Italic')" @keydown.enter="modifierStyle('Italic')"><i class="material-icons">format_italic</i></span>
						<span class="outil" role="button" :tabindex="definirTabIndex()" :title="$t('souligner')" @click="modifierStyle('Underline')" @keydown.enter="modifierStyle('Underline')"><i class="material-icons">format_underlined</i></span>
						<span class="outil" role="button" :tabindex="definirTabIndex()" :title="$t('barrer')" @click="modifierStyle('Strikethrough')" @keydown.enter="modifierStyle('Strikethrough')"><i class="material-icons">format_strikethrough</i></span>
						<label for="couleur" class="outil couleur" role="button" :tabindex="definirTabIndex()" :title="$t('modifierCouleur')" @keydown.enter="activerInput('couleur')">
							<span><i class="material-icons">colorize</i></span>
							<input id="couleur" type="color" :value="couleur" @change="modifierCouleur($event.target.value)">
						</label>
						<select @change="modifierForme($event.target.value)">
							<option value="Ellipse" :selected="forme === 'Ellipse'">{{ $t('ellipse') }}</option>
							<option value="Box" :selected="forme === 'Box'">{{ $t('rectangle') }}</option>
							<option value="Underline" :selected="forme === 'Underline'" v-if="niveau > 1">{{ $t('trait') }}</option>
						</select>
					</div>

					<div class="outils emojis" v-if="admin">
						<span class="outil" role="button" :tabindex="definirTabIndex()" :title="$t('ajouterEmoji')" @click="afficherEmojis" @keydown.enter="afficherEmojis"><i class="material-icons">insert_emoticon</i></span>
						<span class="outil" role="button" :tabindex="definirTabIndex()" :title="$t('supprimerEmoji')" @click="modifierEmoji('')" @keydown.enter="modifierEmoji('')" v-if="emoji !== '' && emoji !== null"><i class="material-icons">block</i></span>
					</div>

					<div class="outils lien" v-if="admin && niveau > 0">
						<span class="outil" role="button" :tabindex="definirTabIndex()" :title="$t('ajouterLien')" @click="ajouterLien" @keydown.enter="ajouterLien"><i class="material-icons">add_link</i></span>
						<span class="outil" role="button" :tabindex="definirTabIndex()" :title="$t('supprimerLien')" @click="supprimerLien" @keydown.enter="supprimerLien" v-if="lien !== '' && lien !== null"><i class="material-icons">link_off</i></span>
					</div>

					<div class="outils statut" v-if="admin">
						<span class="outil" role="button" :tabindex="definirTabIndex()" :title="$t('modifierStatut')" @click="modifierStatut('yes')" @keydown.enter="modifierStatut('yes')" v-if="statut !== 'yes'"><i class="material-icons">done</i></span>
						<span class="outil" role="button" :tabindex="definirTabIndex()" :title="$t('modifierStatut')" @click="modifierStatut('no')" @keydown.enter="modifierStatut('no')" v-if="statut !== 'no'"><i class="material-icons">close</i></span>
						<span class="outil" role="button" :tabindex="definirTabIndex()" :title="$t('annulerStatut')" @click="modifierStatut('')" @keydown.enter="modifierStatut('')" v-if="statut === 'yes' || statut === 'no'"><i class="material-icons">block</i></span>
					</div>

					<div class="outils notes">
						<span class="outil" role="button" :tabindex="definirTabIndex()" :title="$t('afficherNotes')" @click="afficherNotes" @keydown.enter="afficherNotes"><i class="material-icons">speaker_notes</i></span>
					</div>

					<div class="outils aide" v-if="admin">
						<span class="outil" role="button" :tabindex="definirTabIndex()" :title="$t('afficherRaccourcis')" @click="ouvrirModaleAide" @keydown.enter="ouvrirModaleAide"><i class="material-icons">help</i></span>
					</div>
				</div>
			</div>

			<div id="menu-partager" v-if="menu" :style="{'left': position + 'px'}">
				<div id="conteneur-partager">
					<label>{{ $t('lienEtCodeQR') }}</label>
					<div id="copier-lien" class="copier">
						<input type="text" disabled :value="definirRacine() + '#/m/' + id">
						<span class="icone lien" role="button" :tabindex="menu ? 0 : -1" :title="$t('copierLien')" @keydown.enter="copierLien"><i class="material-icons">content_copy</i></span>
						<span class="icone codeqr" role="button" :tabindex="menu ? 0 : -1" :title="$t('afficherCodeQR')" @click="afficherCodeQR" @keydown.enter="afficherCodeQR"><i class="material-icons">qr_code</i></span>
					</div>
					<label>{{ $t('codeIntegration') }}</label>
					<div id="copier-iframe" class="copier">
						<input type="text" disabled :value="'<iframe src=&quot;' + definirRacine() + '#/m/' + id + '&quot; allowfullscreen frameborder=&quot;0&quot; width=&quot;100%&quot; height=&quot;500&quot;></iframe>'">
						<span class="icone" role="button" :tabindex="menu ? 0 : -1" :title="$t('copierCode')" @keydown.enter="copierIframe"><i class="material-icons">content_copy</i></span>
					</div>
					<label>{{ $t('exporterImage') }}</label>
					<span class="bouton" role="button" :tabindex="menu ? 0 : -1" @click="exporterImage" @keydown.enter="exporterImage">{{ $t('exporter') }}</span>
					<p class="credits">{{ $t('creeeAvec') }}<a href="https://ladigitale.dev/digimindmap/" target="_blank" rel="noreferrer"><u>Digimindmap by La Digitale</u></a></p>
				</div>
			</div>

			<div id="conteneur">
				<ul id="port" />
			</div>

			<div id="notes" class="menu droite" v-if="notes" role="menu">
				<header>
					<span class="titre">{{ $t('notesItem') }}</span>
					<span class="fermer" role="button" :tabindex="notes ? -1 : 0" @click="fermerNotes" @keydown.enter="fermerNotes"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu" v-if="admin">
						<div id="texte" />
					</div>
					<div class="contenu note" v-else>
						<div id="note" />
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-if="modale === 'aide'">
			<div id="aide" class="modale" role="dialog">
				<header>
					<span class="titre">{{ $t('raccourcisClavier') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModale" @keydown.enter="fermerModale"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<label>{{ $t('naviguer') }}</label>
						<p v-html="$t('racDeplacerCarte')" />
						<p v-html="$t('racSelectionnerElement')" />
						<p v-html="$t('racSelectionnerRacine')" />
						<p v-html="$t('racSelectionnerParent')" />
						<p v-html="$t('racZoomer')" />
						<p v-html="$t('racPlier')" />
						<label>{{ $t('manipuler') }}</label>
						<p v-html="$t('racDefaire')" />
						<p v-html="$t('racInsererElementParallele')" />
						<p v-html="$t('racInsererEnfant')" />
						<p v-html="$t('racChangerPosition')" />
						<p v-html="$t('racChangerCote')" />
						<p v-html="$t('racSupprimerElement')" />
						<p v-html="$t('racCopierElement')" />
						<p v-html="$t('racCouperElement')" />
						<p v-html="$t('racCollerElement')" />
						<label>{{ $t('modifier') }}</label>
						<p v-html="$t('racModifierStatut')" />
						<p v-html="$t('racModifierTexte')" />
						<p v-html="$t('racInsererLigne')" />
						<p v-html="$t('racMettreGras')" />
						<p v-html="$t('racMettreIntalique')" />
						<p v-html="$t('racSouligner')" />
						<p v-html="$t('racBarrer')" />
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'connexion'">
			<div class="modale" role="dialog">
				<header>
					<span class="titre">{{ $t('connexion') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleConnexion" @keydown.enter="fermerModaleConnexion"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<label for="question-secrete">{{ $t('questionSecrete') }}</label>
						<select id="question-secrete" :value="question" @change="question = $event.target.value">
							<option value="" selected>-</option>
							<option v-for="(item, index) in questions" :value="item" :key="'option_' + index">{{ $t(item) }}</option>
						</select>
						<label for="reponse-secrete">{{ $t('reponseSecrete') }}</label>
						<input id="reponse-secrete" type="password" :value="reponse" @input="reponse = $event.target.value" @keydown.enter="debloquerCarte">
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="debloquerCarte" @keydown.enter="debloquerCarte">{{ $t('valider') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'carte' || modale === 'modifier-nom' || modale === 'modifier-acces' || modale === 'importer' || modale === 'supprimer-carte'">
			<div id="modale-parametres" class="modale" role="dialog" v-if="modale === 'carte'">
				<header>
					<span class="titre">{{ $t('parametresCarte') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleCarte" @keydown.enter="fermerModaleCarte"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<div class="langue">
							<span role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" :class="{'selectionne': $parent.$parent.langue === 'fr'}" @click="modifierLangue('fr')" @keydown.enter="modifierLangue('fr')">FR</span>
							<span role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" :class="{'selectionne': $parent.$parent.langue === 'it'}" @click="modifierLangue('it')" @keydown.enter="modifierLangue('it')">IT</span>
							<span role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" :class="{'selectionne': $parent.$parent.langue === 'en'}" @click="modifierLangue('en')" @keydown.enter="modifierLangue('en')">EN</span>
						</div>
						<span class="vues"><b>{{ $t('nombreVues') }}</b> {{ vues }}</span>
						<span class="bouton large" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="ouvrirModaleNomCarte" @keydown.enter="ouvrirModaleNomCarte" v-if="!digidrive">{{ $t('modifierNomCarte') }}</span>
						<span class="bouton large" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="ouvrirModaleAccesCarte" @keydown.enter="ouvrirModaleAccesCarte" v-if="!digidrive">{{ $t('modifierAccesCarte') }}</span>
						<span class="bouton large" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="exporterCarte" @keydown.enter="exporterCarte">{{ $t('exporterCarte') }}</span>
						<span class="bouton large" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="ouvrirModaleImporter" @keydown.enter="ouvrirModaleImporter">{{ $t('importerCarte') }}</span>
						<span class="bouton large rouge" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="afficherSupprimerCarte" @keydown.enter="afficherSupprimerCarte" v-if="!digidrive">{{ $t('supprimerCarte') }}</span>
						<span class="bouton large" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="terminerSession" @keydown.enter="terminerSession">{{ $t('terminerSession') }}</span>
					</div>
				</div>
			</div>

			<div class="modale" role="dialog" v-else-if="modale === 'modifier-nom'">
				<header>
					<span class="titre">{{ $t('modifierNomCarte') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleNomCarte" @keydown.enter="fermerModaleNomCarte"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<label for="nouveau-nom">{{ $t('nouveauNom') }}</label>
						<input id="nouveau-nom" type="text" :value="nouveaunom" @input="nouveaunom = $event.target.value" @keydown.enter="modifierNomCarte">
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="modifierNomCarte" @keydown.enter="modifierNomCarte">{{ $t('modifier') }}</span>
						</div>
					</div>
				</div>
			</div>

			<div class="modale" role="dialog" v-else-if="modale === 'modifier-acces'">
				<header>
					<span class="titre">{{ $t('modifierAccesCarte') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModaleAccesCarte" @keydown.enter="fermerModaleAccesCarte"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<label for="question-secrete">{{ $t('questionSecreteActuelle') }}</label>
						<select id="question-secrete" :value="question" @change="question = $event.target.value">
							<option value="" selected>-</option>
							<option v-for="(item, index) in questions" :value="item" :key="'option_' + index">{{ $t(item) }}</option>
						</select>
						<label for="reponse-secrete">{{ $t('reponseSecreteActuelle') }}</label>
						<input id="reponse-secrete" type="text" :value="reponse" @input="reponse = $event.target.value">
						<label for="nouvelle-question-secrete">{{ $t('nouvelleQuestionSecrete') }}</label>
						<select id="nouvelle-question-secrete" :value="nouvellequestion" @change="nouvellequestion = $event.target.value">
							<option value="" selected>-</option>
							<option v-for="(item, index) in questions" :value="item" :key="'option_' + index">{{ $t(item) }}</option>
						</select>
						<label for="nouvelle-reponse-secrete">{{ $t('nouvelleReponseSecrete') }}</label>
						<input id="nouvelle-reponse-secrete" type="text" :value="nouvellereponse" @input="nouvellereponse = $event.target.value" @keydown.enter="modifierAccesCarte">
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="modifierAccesCarte" @keydown.enter="modifierAccesCarte">{{ $t('modifier') }}</span>
						</div>
					</div>
				</div>
			</div>

			<div class="modale" role="dialog" v-else-if="modale === 'importer'">
				<header>
					<span class="titre">{{ $t('importerCarte') }}</span>
					<span class="fermer" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="modale = ''" @keydown.enter="modale = ''"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<p>{{ $t('alerteImporter') }}</p>
						<input type="file" id="importer" name="importer" style="display: none;" accept=".dgm" @change="importerCarte">
						<label for="importer" class="bouton large" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @keydown.enter="activerInput('importer')">{{ $t('selectionnerFichier') }}</label>
					</div>
				</div>
			</div>

			<div class="modale confirmation" role="dialog" v-else-if="modale === 'supprimer-carte'">
				<div class="conteneur entier">
					<div class="contenu">
						<p v-html="$t('confirmationSupprimerCarte')" />
						<div class="actions">
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="fermerModale" @keydown.enter="fermerModale">{{ $t('non') }}</span>
							<span class="bouton" role="button" :tabindex="$parent.$parent.message === '' ? 0 : -1" @click="supprimerCarte" @keydown.enter="supprimerCarte">{{ $t('oui') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conteneur-modale" v-else-if="modale === 'code-qr'">
			<div id="codeqr" class="modale" role="dialog">
				<header>
					<span class="titre">{{ $t('codeQR') }}</span>
					<span class="fermer" role="button" tabindex="0" @click="fermerModale" @keydown.enter="fermerModale"><i class="material-icons">close</i></span>
				</header>
				<div class="conteneur">
					<div class="contenu">
						<div id="qr" />
					</div>
				</div>
			</div>
		</div>

		<Emojis v-if="emojis" @emoji="modifierEmoji" />
	</div>
</template>

<script>
import { saveAs } from 'file-saver'
import html2canvas from 'html2canvas'
import pell from 'pell'
import stripTags from 'voca/strip_tags'
import linkifyHtml from 'linkify-html'
import ClipboardJS from 'clipboard'
import Emojis from '@/components/emojis.vue'

let MM = window.MM

export default {
	name: 'Editeur',
	components: {
		Emojis
	},
	data () {
		return {
			modale: '',
			menu: false,
			notes: false,
			admin: false,
			id: '',
			question: '',
			questions: ['motPrefere', 'filmPrefere', 'chansonPreferee', 'prenomMere', 'prenomPere', 'nomRue', 'nomEmployeur', 'nomAnimal'],
			reponse: '',
			nom: '',
			nouveaunom: '',
			nouvellequestion: '',
			nouvellereponse: '',
			editeur: '',
			statut: '',
			lien: '',
			emoji: '',
			emojis: false,
			couleur: '#000000',
			forme: '',
			niveau: 0,
			vues: 0,
			elementPrecedent: null,
			codeqr: '',
			position: 0,
			enregistrement: '',
			donnees: '',
			integration: false,
			digidrive: false
		}
	},
	watch: {
		admin: function (admin) {
			const json = MM.App.map.toJSON()
			if (admin === true) {
				MM.App.init('admin')
			} else {
				MM.App.init('')
				if (this.editeur !== '') {
					this.editeur.removeEventListener('paste', this.coller)
					this.editeur = ''
				}
			}
			MM.App.setMap(MM.Map.fromJSON(json))
		},
		modale: function (valeur) {
			if (valeur !== '') {
				this.menu = false
			}
		},
		notes: function (valeur) {
			if (valeur === false) {
				this.editeur = ''
			}
		}
	},
	created () {
		this.id = this.$route.params.id
		const langue = this.$route.query.lang
		if (this.$parent.$parent.langues.includes(langue) === true) {
			this.$parent.$parent.langue = langue
			localStorage.setItem('digimindmap_lang', langue)
		}
		const question = this.$route.query.q
		const reponse = this.$route.query.r
		if (question && question !== '' && reponse && reponse !== '') {
			const xhreq = new XMLHttpRequest()
			xhreq.onload = function () {
				if (xhreq.readyState === xhreq.DONE && xhreq.status === 200 && xhreq.responseText === 'carte_debloquee') {
					this.notes = false
					this.admin = true
					this.digidrive = true
				}
				window.history.replaceState({}, document.title, window.location.href.split('?')[0])
			}.bind(this)
			xhreq.open('POST', this.$parent.$parent.hote + 'inc/ouvrir_carte.php', true)
			xhreq.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
			xhreq.send('carte=' + this.id + '&question=' + window.atob(question) + '&reponse=' + window.atob(reponse) + '&type=api')
		}
		const xhr = new XMLHttpRequest()
		xhr.onload = function () {
			if (xhr.readyState === xhr.DONE && xhr.status === 200) {
				if (xhr.responseText === 'contenu_inexistant' || this.verifierJSON(xhr.responseText) === false) {
					this.$router.push('/')
					return false
				}
				const reponse = JSON.parse(xhr.responseText)
				if (!reponse.nom || reponse.nom === '') {
					this.$router.push('/')
					return false
				}
				this.admin = reponse.admin
				this.nom = reponse.nom
				this.vues = reponse.vues
				if (reponse.donnees !== '') {
					const donnees = JSON.parse(reponse.donnees)
					MM.App.setMap(MM.Map.fromJSON(donnees))
				}
				this.digidrive = Boolean(reponse.digidrive)
				setTimeout(function () {
					document.title = this.nom + ' - Digimindmap by La Digitale'
					this.$parent.$parent.chargement = false
					this.donnees = MM.App.map.toJSON()
					if (this.integration === true) {
						this.admin = false
					}
					if (this.admin === true) {
						this.enregistrement = setInterval(function () {
							this.enregistrerAutomatiquement()
						}.bind(this), 20000)
					}
				}.bind(this), 300)
			} else {
				this.$parent.$parent.chargement = false
				this.$parent.$parent.message = this.$t('erreurServeur')
			}
		}.bind(this)
		xhr.open('POST', this.$parent.$parent.hote + 'inc/recuperer_carte.php', true)
		xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
		xhr.send('id=' + this.id)
	},
	mounted () {
		MM.App.init('')

		const langue = navigator.language.substring(0, 2)
		if (this.$parent.$parent.langues.includes(this.$route.query.lang) === false && this.$parent.$parent.langues.includes(langue) === true) {
			this.$parent.$parent.langue = langue
		}
		if (localStorage.getItem('digimindmap_lang')) {
			this.$parent.$parent.langue = localStorage.getItem('digimindmap_lang')
		}
		this.$root.$i18n.locale = this.$parent.$parent.langue
		document.getElementsByTagName('html')[0].setAttribute('lang', this.$parent.$parent.langue)
		MM.App.setLanguage(this.$parent.$parent.langue)
		this.modifierLangueRacine()

		const lien = this.definirRacine() + '#/m/' + this.id
		const clipboardLien = new ClipboardJS('#copier-lien .lien', {
			text: function () {
				return lien
			}
		})
		clipboardLien.on('success', function () {
			document.querySelector('#copier-lien .lien').focus()
			this.$parent.$parent.notification = this.$t('lienCopie')
		}.bind(this))
		const iframe = '<iframe src="' + lien + '" allowfullscreen frameborder="0" width="100%" height="500"></iframe>'
		const clipboardIframe = new ClipboardJS('#copier-iframe span', {
			text: function () {
				return iframe
			}
		})
		clipboardIframe.on('success', function () {
			document.querySelector('#copier-iframe span').focus()
			this.$parent.$parent.notification = this.$t('codeCopie')
		}.bind(this))

		document.addEventListener('click', function (event) {
			const partager = document.querySelector('#conteneur-partage')
			const menuPartager = document.querySelector('#menu-partager')
			if (partager && menuPartager && event.target !== partager && event.target !== menuPartager && !partager.contains(event.target) && !menuPartager.contains(event.target)) {
				this.menu = false
				this.gererFocus()
			}
			const boutonEmoji = document.querySelector('.outils.emojis')
			const emojis = document.querySelector('#emojis')
			if (boutonEmoji && emojis && event.target !== boutonEmoji && event.target !== emojis && !boutonEmoji.contains(event.target) && !emojis.contains(event.target)) {
				this.emojis = false
				this.gererFocus()
			}
		}.bind(this), false)

		document.addEventListener('keydown', this.gererClavier, false)

		window.addEventListener('resize', function () {
			if (this.menu) {
				this.menu = false
			}
		}.bind(this), false)

		window.addEventListener('message', function (event) {
			if (event.data === 'item') {
				this.verifierItem()
			} else if (event.data === 'notes') {
				this.afficherNotes()
			}
		}.bind(this), false)

		window.addEventListener('beforeunload', function (event) {
			event.preventDefault()
		}, false)

		if (window !== window.parent) {
			this.integration = true
			this.admin = false
		}
	},
	beforeUnmount () {
		if (this.enregistrement !== '') {
			clearInterval(this.enregistrement)
		}
		document.removeEventListener('keydown', this.gererClavier, false)
	},
	methods: {
		definirRacine () {
			return window.location.href.split('#')[0]
		},
		modifierLangue (langue) {
			this.$root.$i18n.locale = langue
			this.$parent.$parent.langue = langue
			document.getElementsByTagName('html')[0].setAttribute('lang', langue)
			MM.App.setLanguage(langue)
			this.modifierLangueRacine()
			this.$parent.$parent.notification = this.$t('langueModifiee')
			localStorage.setItem('digimindmap_lang', langue)
		},
		modifierLangueRacine () {
			const donnees = MM.App.map.toJSON()
			const carte = MM.Map.fromJSON(donnees)
			if (carte.getName() === 'Idée principale' || carte.getName() === 'Main idea' || carte.getName() === 'Idea principale') {
				MM.Command.SelectRoot.execute()
				const action = new MM.Action.SetText(MM.App.current, this.$t('ideePrincipale'))
				MM.App.action(action)
			}
		},
		afficherMenuPartager () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.menu = 'partager'
			this.$nextTick(function () {
				const rect = document.querySelector("#conteneur-partage").getBoundingClientRect()
				const largeurBouton = rect.width
				const largeurMenu = document.querySelector("#menu-partager").getBoundingClientRect().width
				this.position = rect.left - ((largeurMenu * 90) / 100 - largeurBouton / 2)
				document.querySelector('#menu-partager span').focus()
			}.bind(this))
		},
		copierLien () {
			document.querySelector('#copier-lien .lien').click()
		},
		copierIframe () {
			document.querySelector('#copier-iframe span').click()
		},
		afficherCodeQR () {
			this.modale = 'code-qr'
			this.$nextTick(function () {
				const lien = this.definirRacine() + '#/m/' + this.id
				// eslint-disable-next-line
				this.codeqr = new QRCode('qr', {
					text: lien,
					width: 360,
					height: 360,
					colorDark: '#000000',
					colorLight: '#ffffff',
					// eslint-disable-next-line
					correctLevel : QRCode.CorrectLevel.H
				})
				document.querySelector('#codeqr .fermer').focus()
			}.bind(this))
		},
		activerInput (id) {
			document.querySelector('#' + id).click()
		},
		definirTabIndex () {
			return this.modale === '' && !this.menu && !this.notes && this.$parent.$parent.message === '' ? 0 : -1
		},
		ouvrirModaleAide () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.modale = 'aide'
			this.$nextTick(function () {
				document.querySelector('.modale .fermer').focus()
			})
		},
		fermerModale () {
			this.modale = ''
			this.gererFocus()
		},
		verifierItem () {
			this.$nextTick(function () {
				const item = MM.App.current
				this.statut = item.getStatus()
				this.emoji = item.getIcon()
				this.lien = item.getLink()
				this.couleur = item.getColor() || '#000'
				this.forme = item.getShape().label
				if (this.admin && this.editeur !== '') {
					this.editeur.content.innerHTML = item.getNotes()
				} else if (!this.admin && document.querySelector('#note')) {
					document.querySelector('#note').innerHTML = item.getNotes()
				}
				if (MM.App.current._parent.hasOwnProperty('_root')) {
					this.niveau = 0
					return false
				}
				if (MM.App.current._parent.hasOwnProperty('_parent') && !MM.App.current._parent._parent.hasOwnProperty('_parent')) {
					this.niveau = 1
					return false
				}
				if (MM.App.current._parent.hasOwnProperty('_parent') && MM.App.current._parent._parent.hasOwnProperty('_parent')) {
					this.niveau = 2
				}
			}.bind(this))
		},
		executer (action) {
			const commande = MM.Command[action]
			if (!commande.isValid()) { return }
			commande.execute()
		},
		coller (event) {
			event.preventDefault()
			event.stopPropagation()
			let html = event.clipboardData.getData('text/html')
			if (html !== '') {
				html = stripTags(html, ['b', 'i', 'u', 'strike', 'a', 'br', 'div', 'font', 'ul', 'ol'])
				html = html.replace(/style=".*?"/mg, '')
				html = html.replace(/class=".*?"/mg, '')
				pell.exec('insertHTML', html)
			} else {
				pell.exec('insertText', event.clipboardData.getData('text/plain'))
			}
		},
		modifierItem () {
			const item = MM.App.current
			if (item) {
				MM.Command.Edit.execute()
			}
		},
		enregistrer () {
			this.$parent.$parent.chargementTransparent = true
			const donnees = MM.App.map.toJSON()
			if (this.verifierJSON(donnees) === false) {
				const xhr = new XMLHttpRequest()
				xhr.onload = function () {
					if (xhr.readyState === xhr.DONE && xhr.status === 200) {
						this.$parent.$parent.chargementTransparent = false
						if (xhr.responseText === 'contenu_inexistant') {
							document.title = 'Digimindmap by La Digitale'
							this.$router.push('/')
						} else if (xhr.responseText === 'erreur') {
							this.$parent.$parent.message = this.$t('erreurServeur')
						} else if (xhr.responseText === 'non_autorise') {
							this.$parent.$parent.message = this.$t('actionNonAutorisee')
						} else if (xhr.responseText === 'carte_modifiee') {
							this.$parent.$parent.notification = this.$t('carteEnregistree')
							if (this.enregistrement !== '') {
								clearInterval(this.enregistrement)
							}
							this.enregistrement = setInterval(function () {
								this.enregistrerAutomatiquement()
							}.bind(this), 20000)
						}
					} else {
						this.$parent.$parent.chargementTransparent = false
						this.$parent.$parent.message = this.$t('erreurServeur')
					}
				}.bind(this)
				xhr.open('POST', this.$parent.$parent.hote + 'inc/modifier_carte.php', true)
				xhr.setRequestHeader('Content-type', 'application/json')
				const json = { carte: this.id, donnees: JSON.stringify(donnees) }
				xhr.send(JSON.stringify(json))
			} else {
				this.$parent.$parent.message = this.$t('erreurEnregistrement')
			}
		},
		enregistrerAutomatiquement () {
			const donnees = MM.App.map.toJSON()
			if (this.verifierJSON(donnees) === false && JSON.stringify(donnees) !== JSON.stringify(this.donnees)) {
				const xhr = new XMLHttpRequest()
				xhr.onload = function () {
					if (xhr.readyState === xhr.DONE && xhr.status === 200 && xhr.responseText === 'carte_modifiee') {
						this.$parent.$parent.notification = this.$t('carteEnregistreeAutomatiquement')
						this.donnees = donnees
					}
				}.bind(this)
				xhr.open('POST', this.$parent.$parent.hote + 'inc/modifier_carte.php', true)
				xhr.setRequestHeader('Content-type', 'application/json')
				const json = { carte: this.id, donnees: JSON.stringify(donnees) }
				xhr.send(JSON.stringify(json))
			}
		},
		verifierJSON (json) {
			try {
				JSON.parse(json)
				return true
			} catch {
				return false
			}
		},
		modifierCouleur (couleur) {
			const action = new MM.Action.SetColor(MM.App.current, couleur)
			MM.App.action(action)
			this.couleur = couleur
		},
		modifierStyle (style) {
			const commande = MM.Command[style]
			commande.execute()
		},
		modifierStatut (statut) {
			const action = new MM.Action.SetStatus(MM.App.current, statut)
			MM.App.action(action)
			this.statut = statut
		},
		modifierForme (forme) {
			const action = new MM.Action.SetShape(MM.App.current, MM.Shape[forme])
			MM.App.action(action)
			this.forme = forme
		},
		afficherNotes () {
			if (this.notes === false) {
				this.elementPrecedent = (document.activeElement || document.body)
				this.notes = true
				setTimeout(function () {
					document.querySelector('#notes').classList.add('ouvert')
					if (this.admin && this.editeur === '') {
						this.$nextTick(function () {
							if (document.querySelector('#texte').innerHTML !== '') {
								document.querySelector('#texte').innerHTML = ''
							}
							this.editeur = pell.init({
								element: document.querySelector('#texte'),
								onChange: function (html) {
									let texte = html.replace(/(<a [^>]*)(target="[^"]*")([^>]*>)/gi, '$1$3')
									texte = texte.replace(/(<a [^>]*)(>)/gi, '$1 target="_blank"$2')
									texte = linkifyHtml(texte, {
										defaultProtocol: 'https'
									})
									MM.App.current.setNotes(texte)
								}.bind(this),
								actions: [
									{ name: 'gras', title: this.$t('gras'), icon: '<i class="material-icons">format_bold</i>', result: () => pell.exec('bold') },
									{ name: 'italique', title: this.$t('italique'), icon: '<i class="material-icons">format_italic</i>', result: () => pell.exec('italic') },
									{ name: 'souligne', title: this.$t('souligne'), icon: '<i class="material-icons">format_underlined</i>', result: () => pell.exec('underline') },
									{ name: 'barre', title: this.$t('barre'), icon: '<i class="material-icons">format_strikethrough</i>', result: () => pell.exec('strikethrough') },
									{ name: 'listeordonnee', title: this.$t('listeOrdonnee'), icon: '<i class="material-icons">format_list_numbered</i>', result: () => pell.exec('insertOrderedList') },
									{ name: 'liste', title: this.$t('liste'), icon: '<i class="material-icons">format_list_bulleted</i>', result: () => pell.exec('insertUnorderedList') },
									{ name: 'couleur', title: this.$t('couleurTexte'), icon: '<label for="couleur-texte"><i class="material-icons">format_color_text</i></label><input id="couleur-texte" type="color">', result: () => undefined },
									{ name: 'lien', title: this.$t('lien'), icon: '<i class="material-icons">link</i>', result: () => { const url = window.prompt(this.$t('adresseLien')); if (url) { pell.exec('createLink', url) } } }
								],
								classes: { actionbar: 'boutons-editeur', button: 'bouton-editeur', content: 'contenu-editeur', selected: 'bouton-actif' }
							})
							this.editeur.addEventListener('paste', this.coller)
							this.editeur.content.innerHTML = MM.App.current.getNotes()
							document.querySelector('#couleur-texte').addEventListener('change', this.modifierCouleurTexte)
							document.querySelector('#notes .contenu-editeur').focus()
						}.bind(this))
					} else {
						const html = MM.App.current.getNotes()
						let texte = html.replace(/(<a [^>]*)(target="[^"]*")([^>]*>)/gi, '$1$3')
						texte = texte.replace(/(<a [^>]*)(>)/gi, '$1 target="_blank"$2')
						texte = linkifyHtml(texte, {
							defaultProtocol: 'https'
						})
						document.querySelector('#note').innerHTML = texte
					}
				}.bind(this), 0)
			} else {
				this.notes = false
			}
		},
		fermerNotes () {
			this.notes = false
			this.gererFocus()
		},
		modifierCouleurTexte (event) {
			pell.exec('foreColor', event.target.value)
			document.querySelector('#couleur-texte').style.color = event.target.value
		},
		afficherEmojis () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.emojis = !this.emojis
			if (this.emojis === true) {
				this.$nextTick(function () {
					const largeurBouton = document.querySelector('.outils.emojis').getBoundingClientRect().width
					const largeurMenu = document.querySelector('#emojis').getBoundingClientRect().width
					let position = (document.querySelector('.outils.emojis').getBoundingClientRect().left + largeurBouton + this.convertirRem(1)) - largeurMenu
					if (position < 5) {
						position = 5
					}
					document.querySelector('#emojis').style.left = position + 'px'
					document.querySelector('#emojis span').focus()
				}.bind(this))
			} else {
				this.gererFocus()
			}
		},
		modifierEmoji (emoji) {
			const action = new MM.Action.SetIcon(MM.App.current, emoji)
			MM.App.action(action)
			this.emoji = emoji
		},
		ajouterLien () {
			if (this.lien === null) {
				this.lien = ''
			}
			const url = window.prompt(this.$t('adresseLien'), this.lien)
			if (url) {
				const action = new MM.Action.SetLink(MM.App.current, url)
				MM.App.action(action)
				this.lien = url
			}
		},
		supprimerLien () {
			const action = new MM.Action.SetLink(MM.App.current, '')
			MM.App.action(action)
			this.lien = ''
		},
		exporterImage () {
			const port = document.querySelector('#port')
			port.style.overflow = 'auto'
			MM.Command.SelectRoot.execute()
			MM.App.map.center()
			const largeur = port.querySelector('canvas').width
			const hauteur = port.querySelector('canvas').height
			this.$nextTick(function () {
				html2canvas(port.querySelector('li'), { width: largeur, height: hauteur, useCORS: true }).then(function (canvas) {
					saveAs(canvas.toDataURL('image/png'), 'mm_' + new Date().getTime() + '.png')
					this.$parent.$parent.notification = this.$t('imageExportee')
				}.bind(this))
			}.bind(this))
		},
		exporterCarte () {
			let donnees = MM.App.map.toJSON()
			donnees = 'data:text/json;charset=utf-8,' + encodeURIComponent(JSON.stringify(donnees))
			saveAs(donnees, 'mm_' + new Date().getTime() + '.dgm')
			this.$parent.$parent.notification = this.$t('carteExportee')
		},
		ouvrirModaleImporter () {
			this.modale = 'importer'
			this.$nextTick(function () {
				document.querySelector('.modale .fermer').focus()
			})
		},
		importerCarte (event) {
			const fichier = event.target.files[0]
			if (fichier === null || fichier.length === 0) {
				document.querySelector('#importer').value = ''
				return false
			} else {
				this.modale = ''
				this.$parent.$parent.chargement = true
				if (this.enregistrement !== '') {
					clearInterval(this.enregistrement)
				}
				const reader = new FileReader()
				reader.onload = function (e) {
					const donnees = JSON.parse(e.target.result)
					const xhr = new XMLHttpRequest()
					xhr.onload = function () {
						if (xhr.readyState === xhr.DONE && xhr.status === 200) {
							this.$parent.$parent.chargement = false
							if (xhr.responseText === 'contenu_inexistant') {
								document.title = 'Digimindmap by La Digitale'
								this.$router.push('/')
							} else if (xhr.responseText === 'erreur') {
								this.$parent.$parent.message = this.$t('erreurServeur')
							} else if (xhr.responseText === 'non_autorise') {
								this.$parent.$parent.message = this.$t('actionNonAutorisee')
							} else if (xhr.responseText === 'carte_modifiee') {
								MM.App.setMap(MM.Map.fromJSON(donnees))
								setTimeout(function () {
									this.$parent.$parent.chargement = false
									this.donnees = MM.App.map.toJSON()
									this.$parent.$parent.notification = this.$t('carteImportee')
									this.enregistrement = setInterval(function () {
										this.enregistrerAutomatiquement()
									}.bind(this), 20000)
								}.bind(this), 300)
							}
						} else {
							this.$parent.$parent.chargement = false
							this.$parent.$parent.message = this.$t('erreurServeur')
						}
					}.bind(this)
					xhr.open('POST', this.$parent.$parent.hote + 'inc/modifier_carte.php', true)
					xhr.setRequestHeader('Content-type', 'application/json')
					const json = { carte: this.id, donnees: JSON.stringify(donnees) }
					xhr.send(JSON.stringify(json))
				}.bind(this)
				reader.readAsText(fichier)
				document.querySelector('#importer').value = ''
			}
		},
		ouvrirModaleCarte () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.modale = 'carte'
			this.$nextTick(function () {
				document.querySelector('.modale .fermer').focus()
			})
		},
		fermerModaleCarte () {
			this.modale = ''
			this.question = ''
			this.reponse = ''
			this.nouveaunom = ''
			this.nouvellequestion = ''
			this.nouvellereponse = ''
			this.gererFocus()
		},
		ouvrirModaleNomCarte () {
			this.nouveaunom = this.nom
			this.modale = 'modifier-nom'
			this.$nextTick(function () {
				document.querySelector('.modale input').focus()
			})
		},
		fermerModaleNomCarte () {
			this.modale = ''
			this.nouveaunom = ''
			this.gererFocus()
		},
		modifierNomCarte () {
			if (this.nouveaunom !== '' && this.nom !== this.nouveaunom) {
				this.$parent.$parent.chargement = true
				const xhr = new XMLHttpRequest()
				xhr.onload = function () {
					if (xhr.readyState === xhr.DONE && xhr.status === 200) {
						this.$parent.$parent.chargement = false
						if (xhr.responseText === 'contenu_inexistant') {
							document.title = 'Digimindmap by La Digitale'
							this.$router.push('/')
						} else if (xhr.responseText === 'erreur') {
							this.fermerModaleNomCarte()
							this.$parent.$parent.message = this.$t('erreurServeur')
						} else if (xhr.responseText === 'non_autorise') {
							this.fermerModaleNomCarte()
							this.$parent.$parent.message = this.$t('actionNonAutorisee')
						} else if (xhr.responseText === 'nom_modifie') {
							this.nom = this.nouveaunom
							this.$parent.$parent.notification = this.$t('nomModifie')
							document.title = this.nom + ' - Digimindmap by La Digitale'
							this.fermerModaleNomCarte()
						}
					} else {
						this.$parent.$parent.chargement = false
						this.fermerModaleNomCarte()
						this.$parent.$parent.message = this.$t('erreurServeur')
					}
				}.bind(this)
				xhr.open('POST', this.$parent.$parent.hote + 'inc/modifier_nom_carte.php', true)
				xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
				xhr.send('carte=' + this.id + '&nouveaunom=' + this.nouveaunom)
			} else if (this.nouveaunom === '') {
				this.$parent.$parent.message = this.$t('remplirChampNouveauNom')
			}
		},
		ouvrirModaleAccesCarte () {
			this.modale = 'modifier-acces'
			this.$nextTick(function () {
				document.querySelector('.modale select').focus()
			})
		},
		fermerModaleAccesCarte () {
			this.modale = ''
			this.question = ''
			this.reponse = ''
			this.nouvellequestion = ''
			this.nouvellereponse = ''
			this.gererFocus()
		},
		modifierAccesCarte () {
			if (this.question !== '' && this.reponse !== '' && this.nouvellequestion !== '' && this.nouvellereponse !== '') {
				this.$parent.$parent.chargement = true
				const xhr = new XMLHttpRequest()
				xhr.onload = function () {
					if (xhr.readyState === xhr.DONE && xhr.status === 200) {
						this.$parent.$parent.chargement = false
						this.fermerModaleAccesCarte()
						if (xhr.responseText === 'contenu_inexistant') {
							document.title = 'Digimindmap by La Digitale'
							this.$router.push('/')
						} else if (xhr.responseText === 'erreur') {
							this.$parent.$parent.message = this.$t('erreurServeur')
						} else if (xhr.responseText === 'non_autorise') {
							this.$parent.$parent.message = this.$t('informationsIncorrectes')
						} else if (xhr.responseText === 'acces_modifie') {
							this.$parent.$parent.notification = this.$t('accesModifie')
						}
					} else {
						this.$parent.$parent.chargement = false
						this.fermerModaleAccesCarte()
						this.$parent.$parent.message = this.$t('erreurServeur')
					}
				}.bind(this)
				xhr.open('POST', this.$parent.$parent.hote + 'inc/modifier_acces_carte.php', true)
				xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
				xhr.send('carte=' + this.id + '&question=' + this.question + '&reponse=' + this.reponse + '&nouvellequestion=' + this.nouvellequestion + '&nouvellereponse=' + this.nouvellereponse)
			} else if (this.question === '') {
				this.$parent.$parent.message = this.$t('selectionnerQuestionSecreteActuelle')
			} else if (this.reponse === '') {
				this.$parent.$parent.message = this.$t('indiquerReponseSecreteActuelle')
			} else if (this.nouvellequestion === '') {
				this.$parent.$parent.message = this.$t('selectionnerNouvelleQuestionSecrete')
			} else if (this.nouvellereponse === '') {
				this.$parent.$parent.message = this.$t('indiquerNouvelleReponseSecrete')
			}
		},
		ouvrirModaleConnexion () {
			this.elementPrecedent = (document.activeElement || document.body)
			this.modale = 'connexion'
			this.$nextTick(function () {
				document.querySelector('.modale .fermer').focus()
			})
		},
		fermerModaleConnexion () {
			this.modale = ''
			this.question = ''
			this.reponse = ''
			this.gererFocus()
		},
		debloquerCarte () {
			if (this.question !== '' && this.reponse !== '') {
				this.$parent.$parent.chargement = true
				const xhr = new XMLHttpRequest()
				xhr.onload = function () {
					if (xhr.readyState === xhr.DONE && xhr.status === 200) {
						this.$parent.$parent.chargement = false
						this.fermerModaleConnexion()
						if (xhr.responseText === 'contenu_inexistant') {
							document.title = 'Digimindmap by La Digitale'
							this.$router.push('/')
						} else if (xhr.responseText === 'erreur') {
							this.$parent.$parent.message = this.$t('erreurServeur')
						} else if (xhr.responseText === 'non_autorise') {
							this.$parent.$parent.message = this.$t('informationsIncorrectes')
						} else if (xhr.responseText === 'carte_debloquee') {
							this.notes = false
							this.admin = true
							this.$parent.$parent.notification = this.$t('connexionReussie')
							this.enregistrement = setInterval(function () {
								this.enregistrerAutomatiquement()
							}.bind(this), 20000)
						}
					} else {
						this.$parent.$parent.chargement = false
						this.fermerModaleConnexion()
						this.$parent.$parent.message = this.$t('erreurServeur')
					}
				}.bind(this)
				xhr.open('POST', this.$parent.$parent.hote + 'inc/ouvrir_carte.php', true)
				xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
				xhr.send('carte=' + this.id + '&question=' + this.question + '&reponse=' + this.reponse + '&type=utilisateur')
			} else if (this.question === '') {
				this.$parent.$parent.message = this.$t('selectionnerQuestionSecrete')
			} else if (this.reponse === '') {
				this.$parent.$parent.message = this.$t('remplirReponseSecrete')
			}
		},
		terminerSession () {
			this.$parent.$parent.chargement = true
			const xhr = new XMLHttpRequest()
			xhr.onload = function () {
				if (xhr.readyState === xhr.DONE && xhr.status === 200) {
					this.$parent.$parent.chargement = false
					if (xhr.responseText === 'session_terminee') {
						this.fermerModaleCarte()
						this.admin = false
						this.notes = false
						this.$parent.$parent.notification = this.$t('sessionTerminee')
					}
				} else {
					this.$parent.$parent.chargement = false
					this.fermerModaleCarte()
					this.$parent.$parent.message = this.$t('erreurServeur')
				}
			}.bind(this)
			xhr.open('POST', this.$parent.$parent.hote + 'inc/terminer_session_carte.php', true)
			xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
			xhr.send('carte=' + this.id)
		},
		afficherSupprimerCarte () {
			this.modale = 'supprimer-carte'
			this.$nextTick(function () {
				document.querySelector('.modale .bouton').focus()
			})
		},
		supprimerCarte () {
			this.modale = ''
			this.$parent.$parent.chargement = true
			const xhr = new XMLHttpRequest()
			xhr.onload = function () {
				if (xhr.readyState === xhr.DONE && xhr.status === 200) {
					if (xhr.responseText === 'erreur') {
						this.$parent.$parent.chargement = false
						this.$parent.$parent.message = this.$t('erreurServeur')
					} else if (xhr.responseText === 'non_autorise') {
						this.$parent.$parent.chargement = false
						this.$parent.$parent.message = this.$t('actionNonAutorisee')
					} else if (xhr.responseText === 'carte_supprimee' || xhr.responseText === 'contenu_inexistant') {
						document.title = 'Digimindmap by La Digitale'
						this.$router.push('/')
					}
				} else {
					this.$parent.$parent.chargement = false
					this.fermerModaleCarte()
					this.$parent.$parent.message = this.$t('erreurServeur')
				}
			}.bind(this)
			xhr.open('POST', this.$parent.$parent.hote + 'inc/supprimer_carte.php', true)
			xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
			xhr.send('carte=' + this.id)
		},
		gererFocus () {
			if (this.elementPrecedent) {
				this.elementPrecedent.focus()
				this.elementPrecedent = null
			}
		},
		gererClavier (event) {
			if (event.key === 'Escape' && this.$parent.$parent.message !== '') {
				this.$parent.$parent.message = ''
			} else if (event.key === 'Escape' && this.modale === 'connexion') {
				this.fermerModaleConnexion()
			} else if (event.key === 'Escape' && this.modale === 'carte') {
				this.fermerModaleCarte()
			} else if (event.key === 'Escape' && this.modale === 'modifier-nom') {
				this.fermerModaleNomCarte()
			} else if (event.key === 'Escape' && this.modale === 'modifier-acces') {
				this.fermerModaleAccesCarte()
			} else if (event.key === 'Escape' && this.modale !== '') {
				this.modale = ''
				this.gererFocus()
			} else if (event.key === 'Escape' && this.menu) {
				this.menu = false
				this.gererFocus()
			} else if (event.key === 'Escape' && this.notes) {
				this.fermerNotes()
			} else if (event.key === 'Escape' && this.emojis) {
				this.emojis = false
				this.gererFocus()
			}
		},
		convertirRem (valeur) {
			const taille = window.getComputedStyle(document.querySelector('html'), null).getPropertyValue('font-size')
			return 'undefined' != typeof valeur && valeur > 0 ? parseFloat(taille) * valeur : parseFloat(taille)
		}
	}
}
</script>

<style scoped>
#page,
#carte {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

#carte {
	background: #fff;
}

#header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
    width: 100%;
    text-align: center;
    background: #fff;
	z-index: 100;
	user-select: none;
}

#conteneur-partage,
#conteneur-parametres,
#conteneur-logo {
    height: 40px;
    background: #fff;
	position: absolute;
	top: 0;
}

#conteneur-logo {
	width: 40px;
	left: 0;
	text-align: center;
}

#conteneur-partage,
#conteneur-parametres {
	width: 40px;
	right: 0;
	line-height: 40px;
	padding: 0 8px;
	cursor: pointer;
}

#conteneur-parametres {
	right: 0;
}

#conteneur-partage {
	right: 40px;
}

#conteneur-partage i,
#conteneur-parametres i {
	font-size: 24px;
}

#logo {
    width: 24px;
    height: 24px;
    background: #00ced1;
    display: inline-block;
    border-radius: 50%;
    margin: 8px;
}

#titre {
	font-family: 'Roboto-Slab';
	font-size: 18px;
    padding: 0 7px;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
	margin-left: 40px;
	margin-right: 80px;
	display: block;
	text-transform: uppercase;
    letter-spacing: 1px;
}

#titre:before {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    top: 100%;
    bottom: auto;
    height: 8px;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.08) 40%, rgba(0, 0, 0, 0.04) 50%, transparent 90%, transparent);
}

#outils {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	height: 40px;
    width: 100%;
	border-bottom: 1px solid #ddd;
}

.iframe #outils {
	top: 0;
}

#conteneur-outils {
	display: flex;
	justify-content: flex-start;
    padding: 0 10px;
    width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	scrollbar-width: none;
}

#conteneur-outils::-webkit-scrollbar {
	display: none;
}

#outils .outils {
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	height: 40px;
	border-right: 0;
}

#outils .outils.notes,
#outils .outils.aide,
#outils .outils.emojis,
#outils .outils.lien,
#outils .outils.statut,
#outils .outils.noeud,
#outils .outils.format {
	padding-left: 1rem;
	margin-left: 1rem;
	border-left: 1px solid #ddd;
}

#outils .outils.aide {
	padding-right: 2rem;
}

.outils .outil {
	font-size: 24px;
	margin-right: 1.5rem;
	cursor: pointer;
}

.outils .outil:last-child {
	margin-right: 0;
}

.outils .outil.supprimer {
	color: #ff6259;
}

.outils .outil.couleur {
	display: flex;
	align-items: center;
}

.outils .outil.couleur input[type="color"] {
	width: 20px;
	height: 20px;
	margin-left: 1rem;
	padding: 0;
	border: none;
	cursor: pointer;
}

.outils .outil.couleur input[type="color"]::-moz-color-swatch {
	border: 1px solid #ddd;
	border-radius: 50%;
}

.outils .outil.couleur input[type="color"]:focus::-moz-color-swatch {
	border: 1px solid #001d1d;
}

.outils .outil.couleur input[type="color"]::-webkit-color-swatch {
	border: 1px solid #ddd;
	border-radius: 50%;
}

.outils .outil.couleur input[type="color"]:focus::-webkit-color-swatch {
	border: 1px solid #001d1d;
}

.outils select {
	padding: 0 30px 0 10px;
    line-height: 1.5;
	border: 1px solid #ddd;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%23000000" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625" /></svg>') center right no-repeat;
	border-radius: 4px;
}

#conteneur {
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: calc(100% - 80px);
	font-size: 1.8rem;
	overflow: hidden;
}

.iframe #conteneur {
	top: 40px;
	height: calc(100% - 40px);
}

#menu-partager {
	position: absolute;
    z-index: 1000;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 1rem;
	background: #fff;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	top: 54px;
	width: 300px;
}
	
#menu-partager:after {
	border: solid #ddd;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	border-width: 0 1px 1px 0;
	transform: translate(-7px, -8px) rotate(-135deg);
	background: #fff;
    left: 90%;
    width: 14px;
    height: 14px;
}

#menu-partager label {
	display: block;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
    user-select: none;
}

#menu-partager .copier {
	display: flex;
	justify-content: center;
	align-items: center;
}

#menu-partager .copier input {
	display: block;
	width: calc(100% - 34px);
	font-weight: 400;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 7px 15px;
	line-height: 1.5;
	text-align: left;
	margin-right: 10px;
}

#copier-iframe,
#copier-lien {
	margin-bottom: 20px;
}

#copier-lien input {
	width: calc(100% - 68px);
}

#copier-lien span:last-child {
	margin-left: 10px;
}

#menu-partager .copier span i {
	font-size: 24px;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

#menu-partager .copier span i:active {
	opacity: 0.8;
}

#menu-partager .bouton {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

#conteneur-partager {
	font-size: 0;
}

#menu-partager .credits {
	font-size: 14px;
	padding-top: 10px;
	border-top: 1px solid #ddd;
}

.modale .bouton.large {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.modale .bouton.large:last-child {
	margin-bottom: 0;
}

.modale .bouton.rouge {
	color: #fff;
	background: #ff6259;
}

.modale .bouton.rouge:hover {
	background: #d70b00;
}

.modale .langue {
	margin-bottom: 20px;
}

.modale .langue span {
	display: inline-flex;
	width: 45px;
	height: 45px;
	justify-content: center;
	align-items: center;
	line-height: 1;
	font-size: 20px;
	border-radius: 50%;
	margin-right: 10px;
	border: 1px solid #ddd;
	cursor: pointer;
	user-select: none;
}

.modale .langue span.selectionne {
	background: #444;
	color: #fff;
	border: 1px solid #222;
}

.modale .langue span:last-child {
	margin-right: 0;
}

.modale.confirmation .conteneur {
	text-align: center;
	padding: 30px 25px;
	max-width: 500px;
}

#modale-parametres .contenu {
	font-size: 0;
}

#modale-parametres .vues {
	display: block;
	font-size: 16px;
	margin-bottom: 20px;
}

#codeqr.modale .contenu {
	text-align: center;
	font-size: 0;
}

#notes {
    width: 300px;
    position: fixed;
    top: 40px;
    bottom: 0;
	right: -300px;
	border-left: 1px solid #ddd;
    overflow: hidden;
	background: rgba(255, 255, 255, 0.95);
    transition: all 0.15s ease-out;
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

.iframe #notes {
	top: 0;
}

#notes.ouvert {
    transition: all 0.2s ease-in-out;
    transform: translate3d(0, 0, 0);
	right: 0;
	box-shadow: -2px 0 7px 0 rgba(0, 0, 0, 0.1);
}

#notes header {
    height: 40px;
    display: flex;
    border-bottom: 1px solid #ddd;
	justify-content: space-between;
	align-items: center;
}

#notes .titre {
    font-size: 15px;
    text-align: left;
	padding-left: 10px;
	font-weight: 700;
    text-transform: uppercase;
}

#notes .fermer {
	width: 40px;
	line-height: 40px;
    font-size: 20px;
	text-align: center;
    cursor: pointer;
}

#notes .conteneur {
    margin: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
    height: calc(100% - 40px);
}

#notes .contenu #texte,
#notes .contenu {
	height: 100%;
}

#notes .contenu.note {
	padding: 20px 10px;
	margin-bottom: 20px;
	height: calc(100% - 20px);
}

@media screen and (max-width: 767px) {
	.modale .langue span {
		width: 40px;
		height: 40px;
		font-size: 18px;
		margin-right: 9px;
	}
}

@media print {
	#header,
	#outils,
	#notes,
	#menu-partager {
		display: none;
	}

	#conteneur {
		top: 0;
		height: 100%;
	}
}
</style>


<style>
#codeqr.modale #qr {
	display: inline-block;
}

#codeqr.modale #qr img {
	max-width: 100%;
	height: auto;
	max-height: 60vh;
}

#note,
#note *,
[contenteditable],
[contenteditable] * {
	user-select: text!important;
	-webkit-user-select: text!important;
	-webkit-touch-callout: default!important;
}

#port {
	overflow: hidden;
	font-size: 100%;
}

#port ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#port .item {
	position: absolute;
}

#port .item.cut {
	opacity: 0.5;
}

#port .item.collapsed .children {
	display: none;
}

#port .content {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	cursor: pointer;
}

#port .content > * {
	vertical-align: middle;
}

#port .text {
	display: inline-block;
	text-align: center;
	min-width: 0.5em;
	min-height: 1.3em;
	line-height: 1.3em;
}

#port .status {
	margin-right: 0.25em;
}

#port .text ~ .status {
	margin-left: 0.25em;
	margin-right: 0;
}

#port .status {
	font-size: 150%;
	line-height: 0.8;
}

#port .status.yes:after {
	content: '✔';
	color: #19d273;
}

#port .status.no:after {
	content: '✘';
	color: #ff6259;
}

#port canvas {
	position: absolute;
	left: 0;
	top: 0;
}

#port .notes-indicator {
	width: 16px;
	height: 16px;
	background: url('@/assets/img/notes.png') right center no-repeat;
	position: absolute;
	top: -8px;
	right: -8px;
	opacity: 0.5;
	display: none;
}

#port .notes-indicator-visible {
	display: block;
}

#port .toggle {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1;
	font-size: 12px;
	width: 12px;
	height: 12px;
	cursor: pointer;
	border-radius: 50%;
	background-color: #00ced1;
	font-weight: bold;
	color: #fff;
}

#port .toggle:hover {
	opacity: 0.85;
}

#port .toggle:before {
	content: '−';
}

#port .collapsed > .toggle:before {
	content: '+';
}

#port :not(.current):not(.collapsed) > .toggle {
	visibility: hidden;
}

#port .shape-box > .content {
	padding: 0.15em 0.4em;
	background-color: #fff;
	border: 1px solid #222;
	border-radius: 3px;
}

#port .shape-ellipse > .content {
	background-color: #fff;
	border: 1px solid #222;
	border-radius: 50%;
	padding: 0.5em 1em;
}

#port .current > .content {
	background-color: #aff4f6;
}

#port > .item > .content {
	font-weight: bold;
	border-width: 2px;
	font-size: 140%;
}

#port > .item > .toggle {
	display: none;
}

#port > .item > .children > .item > .content {
	border-width: 2px;
	font-size: 120%;
}

#port .item .icon {
	margin: 0 0.25em 0 0;
}

#port .item .link {
	margin-left: 0.25em;
}

#port .ghost {
	position: absolute!important;
	opacity: 0.5;
	z-index: 1;
}

@media print {
	#port {
		width: 100%;
		height: 100%;
	}
}
</style>
